<nav ngbNav #nav="ngbNav" class="nav-tabs">
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/new-employee" routerLinkActive="active">Add Employee</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/employee-info/employees-list" routerLinkActive="active">Employees list</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/employee-info/employees-details" routerLinkActive="active">Employee Details</a>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<router-outlet></router-outlet>
